.head-container .head-box {
  padding: 5px 10px !important;
  margin-bottom: 30px !important;
  border-radius: 10px !important;
  background-color: #f1f4f6;
}

.head-container .head-box img {
  height: 70px;
  margin-right: 1rem !important;
}

.head-container .head-box h1 {
  font-family: "Potta One", cursive;
  font-size: 1.7rem;
}
