.post-box {
  border: 1px solid rgba(219, 219, 219, 219);
  margin-bottom: 25px;
}

.post-box .image-container {
  width: 450px;
  height: 550px;
}

.post-box .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-box .caption-title h1 {
  font-size: 1rem;
  font-weight: 600;
}

.post-box .caption-info p {
  font-size: 14px;
}

.post-box .hash-tags p {
  font-size: 12px;
  color: #b3b3b3;
}

.post-box .icon {
  cursor: pointer;
}

.post-box .like-icon {
  margin-right: 15px;
}

.post-box .edit-icon:active {
  transform: scale(0.9);
}

.post-box .delete-icon:active {
  color: tomato;
}

.no-post-box {
  margin-top: 100px;
}

.no-post-box h1 {
  color: #a0a0a0;
  font-size: 14px;
  padding: 10px 0;
}
